@charset "UTF-8";

/* Gerais*/

body {
    font-family: 'open sans', sans-serif;
}
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}
p, li {
    color: rgb(67, 55, 112);
    font-size: 14px;
}
/*Barra de navegações*/
header, .navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 3px #bbb;
}
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    padding: 0;
    color: white;
}
.navbar-brand:hover {
   color: white;
}
#navbar-links a {
   color: black;
   text-decoration: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
   padding: 1rem .8re;
}

/* main  carousel*/
.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
   height: 90vh;
}
#mainSlider .carousel-caption {
   top: 200px;
   color: white;
 
}
#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}
#mainSlider .carousel-caption p {
     font-size: 22px;
     font-weight: 300;
     margin-bottom: 40px;
     color: white;
}
.main-btn {
    background-color: rgb(68, 192, 230);
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px ;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
.main-btn:hover {
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: rgb(68, 192, 230);
}
.carousel-indicators .active {
    background-color: rgb(236, 19, 200);
}

/*Sobre a empresa*/

#about-area {
    background-color: #f9f9f9;
}
.main-title {
    color: #606060;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}
.main-title::after {
    content: "";
    border-top: 2px solid #606060;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;

}

.about-title {
    font-size: 17px;
    color: #606060;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: rgb(67, 55, 112);
    margin-right: 15px;
}

/*Serviços*/

.service-box {
    text-align: center;
    margin-bottom: 50px;
}
.service-box i,.service-box h4 {
    transition: .5s;
}
.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}
.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}
.service-box:hover > i, .service-box:hover > h4 {
    color: rgb(79, 33, 247);
}



/*Dados da empresa*/

.circle-box div {
  padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}
#data-area p {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
    
}
#data-area {
    background-image: url('../imagem/parallax.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


/*Time*/

.card-body {
    text-align: center;
}
.card-img-top {
    width: 100%;
    
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-title{
    font-weight: bold;
}


/*trabalhe conosco*/

#apply-area {
  height: 500px; 
  
}

#apply-area  .container-fluid , #apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px; 
}

#company-img {
    background-image: url('../imagem/slider.jpg');
    background-size: cover;
    height: 100%;
}
#pattern-img {
    background-image: url('../imagem/parallax1.jpg');
    background-position: end;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pattern-img h4, #pattern-img p {
    color: #f9f9f9;
}
#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#pattern-img p{
    margin-bottom: 20px;
}

#apply-btn {
   display: block;
   height: auto;
   width: 180px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   background-color: rgb(68, 192, 230);
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
  
}
#apply-btn:hover {
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: rgb(68, 192, 230);
}

/*Portfolio*/

.project-box{
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover {
    color: #fff;
    background-color: rgb(67, 55, 112);
    border-color: rgb(67, 55, 112);
}
